.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.image {
  max-width: 100%;
  height: 600px;
}

/* Text */
.text {
  font-size: 16px;
  line-height: 1.5;
  color: blue;
}

/* Steps */
.Step1, .Step2, .Step3, .Step4, .Step5, .Step6 {
  margin-bottom: 20px;
}


